<section data-ng-controller="BucketlistsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="bucketlist.name"></h1>
		<h5 data-ng-bind="bucketlist.content"></h5>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == bucketlist.user._id))">
		<a class="btn btn-primary" href="/#!/bucketlists/{{bucketlist._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="bucketlist.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="bucketlist.user.displayName"></span>
		</em>
	</small>
</section>
